// ИМПОРТ
// @import "Fonts.css";
// @import "Rezerv.css";
// ИМПОРТ

// ПЕРЕМЕННЫЕ
$fs: 18px;
// ПЕРЕМЕННЫЕ
$maxWidth: 1280;
@mixin adaptive-fonts($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}
//    @include adaptive-fonts( , );

// ОБНУЛЯЮЩИЕ СТИЛИ
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
main,
footer,
header,
aside {
	display: block;
	border: 1px solid #fff;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
} /*Крестик в IE*/
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

img {
	max-width: 100%;
}
body {
	overflow: hidden;

	/**
             * Для эксплорера
             */
	-ms-user-select: none;

	/**
			  * Для мозилы
			  */
	-moz-user-select: none;

	/**
			  * Для конкверора
			  */
	-khtml-user-select: none;

	/**
			  * Для Сафари и Хрома
			  */
	-webkit-user-select: none;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
a {
	color: inherit;
}
.font {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}
.wrapper {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background-color: #2b303b;
	display: grid;
	grid-template: 58px 1fr 58px / 16.66666vw 83.33333vw;
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer";
}
header {
	height: 58px;
	width: 100vw;
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}
.ver {
	align-self: flex-start;
	text-transform: lowercase;
	margin: 10px 10px 0 0;
	font-size: 14px;
}
footer {
	height: 58px;
	width: 100vw;
	grid-area: footer;
}
aside {
	height: 100%;
	grid-area: aside;
}
main {
	height: 100%;
	grid-area: main;
	max-width: 100%;
}
.obj {
	margin-bottom: 5px;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #fff;
	height: 45px;
	display: flex;
	align-items: center;
	padding-left: 8px;
}
.obj-title {
	margin-bottom: 20px;
}
.objects {
	overflow-y: scroll;
	padding: 8px;
	border: 1px solid #fff;
	height: 300px;
}
.tab {
	display: none;
	height: 100%;
	width: 100%;
}

.tabs-tab1:target,
.tabs-tab2:target,
.tabs-tab3:target,
.tabs-tab4:target,
.tabs-tab5:target,
.tabs-tab6:target,
.tabs-tab7:target {
	display: block;
}
.tabs-hi {
	display: block;
}
.content {
	max-width: 65%;
	margin: 0 auto;
	height: 100%;
}
.tab-title {
	font-size: 20px;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
	max-width: 9rem;
	margin: 5px;
	text-align: left;
	line-height: 20px;
	opacity: 1;
	z-index: 2;
}
.tab-text {
	font-size: 18px;
	line-height: 2.2rem;
	text-align: justify;
	opacity: 1;
	z-index: 2;
	margin: 0 auto;
	position: absolute;
	top: 0;
	background-color: rgb(17%, 19%, 23%, 0.7);
	padding: 10px;
	min-height: 100%;
}
#tab1 {
}
.wrap {
	background-color: rgb(17%, 19%, 23%, 1);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1px solid #000;
}
.text-wrap {
	max-width: 65%;
	margin: 0 auto;
}
.wrap-item {
}
.slider_item.slick-slide {
	background-color: rgba(209, 209, 209, 0.74);
}
.slider {
	height: 100%;
}
/* Слайдер */
.slick-slider {
	height: 100%;
	margin: 0 auto;
	position: relative;
	border: 2px solid #000;
	width: 100%;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */

.slider {
	position: relative;
	overflow: hidden;
	max-width: 100%;
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0 0 0;
	z-index: 2;
	font-size: 0;
	background-color: rgba(231, 231, 231, 0.74);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	-webkit-transition: -webkit-box-shadow 0.5s ease 0s;
	transition: -webkit-box-shadow 0.5s ease 0s;
	transition: box-shadow 0.5s ease 0s;
	transition: box-shadow 0.5s ease 0s, -webkit-box-shadow 0.5s ease 0s;
	-webkit-transition: -webkit-transform 0.25s ease 0s;
	transition: -webkit-transform 0.25s ease 0s;
	transition: transform 0.25s ease 0s;
	transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
	display: none;
}
.slider .slick-arrow:hover {
	background-color: rgba(231, 231, 231, 0.9);
	-webkit-box-shadow: 1px 1px 20px 1px rgba(107, 107, 107, 0.9);
	box-shadow: 1px 1px 20px 1px rgba(107, 107, 107, 0.9);
	-webkit-transform: translate(0px, -2px);
	transform: translate(0px, -2px);
}
.slider .slick-arrow.slick-prev {
	left: 5px;
	padding: 5px;
}
.slider .slick-arrow.slick-prev:before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	bottom: 3px;
}
.slider .slick-arrow.slick-prev:after {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	top: 3px;
}
.slider .slick-arrow.slick-prev:after,
.slider .slick-arrow.slick-prev:before {
	left: 16px;
	content: "";
	height: 20px;
	width: 2px;
	background-color: #000;
	z-index: 10;
	position: absolute;
	border-radius: 10px;
}
.slider .slick-arrow.slick-prev:active {
	-webkit-transform: translate(-3px, 0px);
	transform: translate(-3px, 0px);
}
.slider .slick-arrow.slick-next {
	right: 22px;
}
.slider .slick-arrow.slick-next:before {
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
	top: 3px;
}
.slider .slick-arrow.slick-next:after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 3px;
}
.slider .slick-arrow.slick-next:after,
.slider .slick-arrow.slick-next:before {
	right: 16px;
	content: "";
	height: 20px;
	width: 2px;
	background-color: #000;
	z-index: 10;
	position: absolute;
	border-radius: 10px;
}
.slider .slick-arrow.slick-next:active {
	-webkit-transform: translate(3px, 0px);
	transform: translate(3px, 0px);
}

.slider_item {
	z-index: 100;
	height: 100%;
}
.wrap-item1 {
}
.wrap-item2 {
}
.wrap-item3 {
}
